* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background: white;
  }
  label {
    margin-top: 10px;
  }
  #wrapper {
    width: 100%;
    height: 100vh;
  }
  .flex_column {
    display: flex;
    flex-direction: column;
  }
  .top {
    background: rgb(211, 211, 211);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  .center {
    flex-grow: 6;
  }
  .bottom {
    background: rgb(49, 49, 49);
    flex-grow: 1;
  }
  #modalForm {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    transition: all linear 0.3s;
    box-shadow: 1px 1px 20px;
   
  }
  .modalFormInner {
    width: calc (100% - 30px);
    height: 100vh;
    background: white;
    margin: 30px;
    padding: 20px;
  }
  #add {
    padding: 10px;
    cursor: pointer;
    background: green;
    border: none;
    margin: 20px;
    color: white;
    font-size: 1.2em;
    outline: none;
    border-radius: 10px;
  }
  #colorChanger {
    padding: 10px;
    cursor: pointer;
    background: #7f807f;
    border: none;
    margin: 20px;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
  }
  #colorChanger:focus {
    outline: none;
  }
  .closeForm {
    position: absolute;
    left: 270px;
    top: 0;
    background: red;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
  }
 
  .list {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    list-style: none;
    
  }
  .listItem {
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #9d9d9d;
  }
  #sortBlock {
    display: flex;
    justify-content: space-evenly;
    background: grey;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
  }
  .sortButton {
    background: rgb(177, 177, 177);
    padding: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
  }
  .sortButton:hover {
    background: rgb(223, 223, 223);
    transition: all linear 0.2s;
  }
  .darkMode {
    background: rgb(51, 51, 51);
  }
  .darkModeTop {
    background: rgb(22, 22, 22);
  }
  .darkModelist {
    color: rgb(167, 167, 167);
  }
