* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body {
    background: white;
  }
  label {
    margin-top: 10px;
  }
  #wrapper {
    width: 100%;
    height: 100vh;
  }
  .flex_column {
    display: flex;
    flex-direction: column;
  }
  .top {
    background: rgb(211, 211, 211);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-height: 100px;
  }
  .center {
    flex-grow: 6;
  }
  .bottom {
    background: rgb(49, 49, 49);
    flex-grow: 1;
  }
  #modalForm {
    background: white;
    position: fixed;
    left: -450px;
    height: 100vh;
    width: 400px;
    transition: all linear 0.3s;
    box-shadow: 1px 1px 20px;
  }
  .modalFormInner {
    width: calc(100% - 30px);
    height: 100vh;
    background: white;
    margin: 30px;
    padding: 20px;
  }
  input, select {
    display: block;
    box-shadow: inset 1px 1px 10px #b1b1b1;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
input:focus, select:focus {
  outline: none;
}

  #add {
    padding: 10px;
    cursor: pointer;
    background: green;
    border: none;
    margin: 20px;
    color: white;
    font-size: 1.2em;
    outline: none;
    border-radius: 10px;
  }
  #colorChanger {
    padding: 10px;
    cursor: pointer;
    background: #7f807f;
    border: none;
    margin: 20px;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
  }
  #colorChanger:focus {
    outline: none;
  }
  .closeForm {
    position: absolute;
    left: 370px;
    top: 0;
    background: #a75858;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 0 0 0 50%;
  }
  #save {
    background: #71a771;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
  }
  .list {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    list-style: none; 
  }
  .listItem {
    margin-top: 5px;
    padding: 10px;
    background: rgba(208, 208, 208, 0.26);
    border-radius: 10px;
  }
  .listWrapper {
    display: flex;
  }
  .check {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px 10px 0 0;
    cursor: pointer;
    color: #4d4c4c;
    box-shadow: inset 1px 1px 5px;
  }
  .listLeft {
    min-width: 60%;
  }
  .listRight {
    flex-grow: 1;
  }
  .edit {
    border: 1px solid rgb(107, 182, 107);
    width: 50px;
    height: 50px;
    border-radius: 10px 0  0 10px;
    cursor: pointer;
  }
  .edit:hover {
    background:rgb(107, 182, 107);
  }
  .delete {
    width: 50px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #fd7373;
    border-left: 0;
    transition: all linear 0.2s;
    cursor: pointer;
  }
  .delete:hover {
    background: red;
  }
  .listTitle {
    padding: 5px;
    text-transform: uppercase;
  }
  .listNote {
    background: rgba(255, 255, 0, 0.2);
    padding: 5px;
    font-family: monospace;
  }
  #sortBlock {
    display: flex;
    justify-content: flex-end;
    background: grey;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
  }
  .sortButton {
    background: rgb(177, 177, 177);
    padding: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
    margin-right: 3px;
    font-size: 0.8em;
    color: white;
  }
  .sortButton:hover {
    background: rgb(223, 223, 223);
    transition: all linear 0.2s;
    color: rgb(105, 105, 105);
  }
  .darkMode {
    background: rgb(51, 51, 51);
  }
  .darkModeTop {
    background: rgb(22, 22, 22);
  }
  .darkModelist {
    color: rgb(167, 167, 167);
  }
  .darkModeCheck {
    color: black;
    background: none;
  }
.taskFullview {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: flex;
}
.taskFullview__box {
  width: 80%;
  height: 80vh;
  background: #d7e5c4;
  margin: auto;
}